.add-diet-window-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(72, 72, 72, 0.5);
    z-index: 120;
    overflow: hidden scroll;
}

.diet-info-container{
    width: 50%;
    height: 50%;
    background-color: #fafafa;
    margin-top: 13%;
    margin-left: 25%;
    border-radius: 15px;
    box-shadow: 0 8px 20px -6px rgb(137, 137, 149);
    position: relative;
}

.diet-info-header{
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 4%;
    font-size: 2rem;
    color: #484848;
    float: left;
}

.diet-info-body{
    width: 90%;
    height: 60%;
    float: left;
    margin-left: 5%;
    position: relative;
}

.diet-info-name{
    width: 50%;
    height: 40px;
    float: left;
}

.diet-info-input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    padding: 0 30px;
    border: none;
    font-size: 0.8rem;
    box-shadow: 0 8px 10px -6px rgb(137, 137, 149);
    color: #484848;
}

.diet-info-input:focus{
    color: #484848;
    outline: none;
}

.diet-info-input:focus::placeholder {
    color: transparent;
}

.diet-info-error{
    width: 50%;
    height: 20px;
    font-size: 0.7rem;
    color: #C02222;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 5%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.diet-info-edit-plan-button{
    width: 20%;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    float: left;
    margin-left: 30%;
    box-shadow: 0 8px 10px -6px rgb(137, 137, 149);
    cursor: pointer;
    transition: .3s ease;
}

.diet-info-edit-plan-button:hover{
    background-color: #eaeaea;
    box-shadow: 0 8px 15px -6px rgb(137, 137, 149);
}

.diet-info-description{
    float: left;
    width: 95%;
    height: 50%;
    margin-top: 6%;
}

.diet-info-description > textarea {
    padding: 20px;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    box-shadow: 0 8px 10px -6px rgb(137, 137, 149);
    border-radius: 10px;
    background-color: white;
    color: #484848;
    font-size: 0.8rem;
}

.diet-info-error.description{
    width: 90%;
    top: 103%;
}

.diet-info-save-button{
    width: 15%;
    height: 40px;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    background-color: #64AD56;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #484848;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 8px 10px -2px rgb(137, 137, 149);
}

.diet-info-edit-plan-button-icon{
    width: 15%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.diet-info-edit-plan-button-icon > img{
    width: 20px;
    height: 20px;
}

.diet-info-edit-plan-button-text{
    float: left;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #484848;
}

.diet-info-close-window{
    width: 50px;
    height: 50px;
    margin-left: calc(100% - 74% - 60px);
    margin-top: 10px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diet-info-close-window > img, .add-meal-to-date-close-window > img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0 4px 5px -2px rgb(137, 137, 149);
    transition: .3s ease;
    cursor: pointer;
}

.diet-info-close-window > img:hover, .add-meal-to-date-close-window > img:hover{
    box-shadow: 0 6px 10px -2px rgb(137, 137, 149);
}

.add-meal-to-date-container{
    position: absolute;
    background-color: rgba(72, 72, 72, 0.5);
    z-index: 120;
    border-radius: 10px;
}

.add-meal-to-date-container.hidden{
    visibility: hidden;
}

.add-meal-to-date-window{
    width: 60%;
    height: 50%;
    background-color: #fafafa;
    border-radius: 10px;
    margin: 13% 20%;
    box-shadow: 0 6px 10px -2px rgb(137, 137, 149);
    position: relative;
}

.add-meal-to-date-window-header{
    width: 30%;
    padding-left: 4%;
    margin-top: 20px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 2rem;
    float: left;
    color: #484848;
}

.add-meal-to-date-window-input{
    width: 90%;
    margin: 40px calc(10% - 10px) 0;
    height: 40px;
    float: left;
    position: relative;
}

.add-meal-to-date-window-input > input{
    width: 50%;
    border: none;
    outline: none;
    float: left;
    margin-right: 10%;
    border-radius: 30px;
    padding: 0 20px;
    box-shadow: 0 4px 5px -2px rgb(137, 137, 149);
}

.add-new-meal-button{
    width: 25%;
    height: 40px;
    border-radius: 30px;
    float: left;
    box-shadow: 0 4px 5px -2px rgb(137, 137, 149);
    position: relative;
    background-color: white;
    cursor: pointer;
}

.add-new-meal-icon{
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 7px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-new-meal-icon > img{
    width: 25px;
    height: 25px;
}

.add-new-meal-text{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: #484848;
}

.add-meal-to-date-add-button{
    width: 20%;
    height: 40px;
    border-radius: 30px;
    float: left;
    box-shadow: 0 4px 5px -2px rgb(137, 137, 149);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #64AD56;
    margin-top: 60px;
    margin-left: 75%;
    color: #fafafa;
    transition: 0.3s ease;
    cursor: pointer;
}

.add-meal-to-date-add-button:hover{
    background-color: #3d7c2f;
}

.add-meal-to-date-close-window{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: calc(100% - 34% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-down-own-meals{
    position: absolute;
    width: 55%;
    height: auto;
    max-height: 200px;
    overflow: hidden scroll;
    background-color: white;
    box-shadow: 0 8px 10px -6px rgb(137, 137, 149);
    border-radius: 10px;
    top: 120%;
    visibility: hidden;
}

.drop-down-own-meals.active, .own-meal-item.active{
    visibility: visible;
}

.own-meal-item{
    min-height: 30px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    color: #484848;
    transition: background-color 0.3s ease, color 0.3s ease;
    visibility: hidden;
}

.own-meal-item:hover{
    background-color: #cbc9c9;
    color: #E24F4F;
}