.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: #d2d2d2;
    z-index: 1000;
    opacity: 95%;
    box-shadow: 0 4px 5px -4px rgb(137, 137, 149);
}

.logo{
    width: 2.7%;
    margin-left: 1%;
    height: 80%;
    margin-top: 0.3%;
    float: left;
}

.logo > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item{
    width: 13%;
    height: 80%;
    float: left;
    margin-top: 0.3%;
    border-right: 1px solid #9D9999;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.item:hover > .item-text{
    color: #E24F4F;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.item-text{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 6vh;
    font-size: 1.4rem;
    color: #484848;
    font-weight: bold;
}

.item-last{
    border-right: 0;
}

.login{
    width: 20%;
    height: 80%;
    margin: 0.3% 1% 0 0;
    float: right;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.login-text{
    width: 80%;
    margin-right: 2%;
    float: left;
    text-align: right;
}

.login > img{
    width: 7%;
    height: 50%;
    float: left;
    margin-top: 4%;
}

.login:hover > img{
    filter: brightness(0) saturate(100%) invert(38%) sepia(77%) saturate(920%) hue-rotate(324deg) brightness(95%) contrast(86%);
}

.login:hover > .login-text{
    color: #E24F4F;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}