.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    z-index: 1000;
    opacity: 95%;
    box-shadow: 0 4px 5px -4px rgb(137, 137, 149);
    transition: transform 0.3s ease-in-out;
}

.navbar-container.hide {
    transform: translateY(-100%);
}

.navbar-container.show {
    transform: translateY(0);
}

.logo {
    width: 2.7%;
    margin-left: 1%;
    height: 80%;
    margin-top: 0.3%;
    float: left;
    cursor: pointer;
}

.logo > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.4s;
}

.logo:hover > img {
    box-shadow: 0 8px 10px -2px rgb(137, 137, 149);
}

.item {
    width: 13%;
    height: 80%;
    float: left;
    margin-top: 0.3%;
    border-right: 1px solid #9D9999;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
}

.item-text.active {
    color: #E24F4F;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}


.item:hover > .item-text {
    color: #E24F4F;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.item-text {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #484848;
    font-weight: bold;
    transition: 0.3s ease;
}

.item-last {
    border-right: 0;
}

.login {
    width: 12%;
    height: 80%;
    margin: 0.3% 1% 0 0;
    float: right;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    position: relative;
}

.login-text {
    width: 80%;
    float: right;
    text-align: right;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: center;
    color: #484848;
    font-weight: bold;
    transition: 0.2s ease;
}

.login > img {
    width: 30px;
    height: 30px;
    float: right;
    transition: 0.2s ease;
}

.login:hover > img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(77%) saturate(920%) hue-rotate(324deg) brightness(95%) contrast(86%);
}

.login:hover > .login-text {
    color: #E24F4F;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.item-dropdown-options {
    width: 80%;
    margin-left: 10%;
    height: auto;
    position: absolute;
    margin-top: 12px;
    border-radius: 10px;
    visibility: hidden;
    overflow: hidden;
}

.item-dropdown-option {
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #484848;
    transition: background-color 0.3s ease,
                text-shadow 0.3s ease,
                color 0.3s ease,
                visibility 0.1s ease;
    font-size: 1rem;
    font-weight: bold;
}

.item-dropdown-option:hover {
    color: #E24F4F;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: #cbc9c9;
}

.item-dropdown-option.active{
    color: #E24F4F;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.item:hover > .item-dropdown-options {
    visibility: visible;
}

.user-item {
    width: 12%;
    float: right;
    height: 100%;
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.user-item > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #9D9999;
    box-shadow: 0 4px 5px -4px rgb(137, 137, 149);
    cursor: pointer;
    transition: 0.3s ease;
}

.user-item > img:hover {
    box-shadow: 0 4px 15px -4px rgb(137, 137, 149);
}

.user-options {
    width: 80%;
    height: 80px;
    margin-right: -10px;
    margin-top: 150px;
    position: absolute;
    float: left;
    cursor: pointer;
    visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.user-options-active {
    visibility: visible;
}

.user-option {
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #484848;
    font-weight: bold;
    transition: background-color 0.3s ease,
    color 0.3s ease;
}

.user-option.active{
    color: #E24F4F;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.user-option:hover {
    color: #E24F4F;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: #cbc9c9;
}

.item-text > img {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.item:hover > .item-text > img {
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(38%) sepia(77%) saturate(920%) hue-rotate(324deg) brightness(95%) contrast(86%);
}