.recover-password-container {
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/login_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.recover-password-panel{
    width: 30%;
    height: 45%;
    background-color: #fafafa;
    opacity: 90%;
    float: left;
    box-shadow: 0 8px 5px -6px rgb(137, 137, 149);
    margin: 13% 35%;
    position: relative;
}

.recover-password-header{
    width: 95%;
    height: 30%;
    padding-left: 5%;
    margin-top: 5%;
    font-size: 2rem;
    color: #484848;
    font-weight: bold;
    float: left;
}

.recover-password-input{
    width: 80%;
    height: 20%;
    margin: 7%;
    padding: 0 5%;
    border: none;
    border-radius: 30px;
    box-shadow: 0 8px 10px -6px rgb(137, 137, 149);
    color: #484848;
}

.recover-password-input:focus{
    outline: none;
}

.recover-password-input:focus::placeholder{
    color: transparent;
}

.recover-password-next-button{
    width: 25%;
    height: 20%;
    margin: 12.5% -5% 0 80%;
    background-color: #64AD56;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #343232;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 8px 10px -2px rgb(137, 137, 149);
    opacity: 0;
}

.recover-password-next-button.visible{
    opacity: 1;
}

.recover-password-next-button:hover{
    box-shadow: 0 8px 20px -2px rgb(137, 137, 149);
    background-color: #4b8642;
}

.step.visible{
    visibility: visible;
    width: 80%;
    height: 65%;
}

.step{
    visibility: hidden;
    float: left;

    margin: 0 10%;
    position: relative;
    height: 0;
    width: 0;
}

.recover-password-label{
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #484848;
    float: left;
}

.recover-password-input-code{
    width: 15%;
    margin-left: calc(10% / 6);
    height: 100%;
    background-color: #e5e5e5;
    color: #484848;
    font-size: 1.2rem;
    float: left;
    box-shadow: 0 4px 2px -2px rgb(137, 137, 149);
    border: 0;
    outline: none;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.recover-password-code{
    width: 100%;
    height: 30%;
    float: left;
    margin-top: 5%;
}

.recover-password-message{
    width: 100%;
    height: 50%;
    margin-top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4b913c;
    font-size: 2rem;
    float: left;
}

.recover-password-home-page{
    width: 100%;
    height: 10%;
    margin-top: 25%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    color: #4b913c;
    cursor: pointer;
}

.recover-password-home-page:hover{
    color: #37752a;
}

.recover-password-error{
    position: absolute;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 0.8rem;
    color: #c50a0a;
    visibility: hidden;
}

.recover-password-error.visible{
    visibility: visible;
}
