.user-settings-container{
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/background_with_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.user-settings-personal-data{
    float: left;
    width: 80%;
    height: auto;
    margin: 150px 10% -50px 10%;
    padding: 50px 0;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 8px 20px -6px rgb(137, 137, 149);
    opacity: 95%;
    position: relative;
}

.user-settings-input-container{
    position: relative;
    padding: 15px 0 0;
    width: 50%;
    margin: 20px 0 0 12.5%;
    height: 50px;
    float: left;
}

.user-settings-input{
    width: 50%;
    height: 50px;
    font-size: 1.2rem;
    border: 0;
    color: #484848;
    float: left;
    padding: 0 20px;
    border-radius: 10px;
    outline: none;
    background-color: #e1e1e1;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 5px -2px rgb(137, 137, 149);
}

.user-settings-input:focus::placeholder {
    color: transparent;
}

.user-settings-input-label{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    float: left;
    font-size: 1.5rem;
    margin-right: 5%;
    color: #484848;
    height: 50px;
}

.user-settings-input-error{
    width: 55%;
    position: absolute;
    height: 30px;
    top: 100%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C02222;
    font-size: 0.7rem;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.user-settings-input-error.visible{
    visibility: visible;
}

.user-settings-label{
    width: 90%;
    height: 70px;
    margin-left: 5%;
    float: left;
    border-radius: 2px;
    margin-bottom: 30px;
    position: relative;
}

.user-settings-label-text{
    margin-left: 1%;
    width: 25%;
    color: #919191;
    font-size: 1.8rem;
    height: 80%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.user-settings-label-text:hover{
    color: #E24F4F;
    cursor: pointer;
}

.user-settings-label-text:hover > .user-settings-label-item-bottom-bar{
    background-color: #E24F4F;
}

.user-settings-label-text-active{
    color: #E24F4F;
}

.user-settings-label-text-first{
    border-left: 0;
}

.user-settings-label-item-bottom-bar{
    width: 25%;
    top: 90%;
    height: 5px;
    background-color: #919191;
    position: absolute;
    transition: 0.3s ease;
    border-radius: 10px;
}

.user-settings-label-item-bottom-bar.active{
    background-color: #E24F4F;
}

.user-settings-save-button{
    width: 200px;
    background-color: #64AD56;
    border-radius: 30px;
    box-shadow: 0 8px 10px -6px rgb(137, 137, 149);
    float: right;
    margin: 60px 5% 0 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    color: #343232;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    cursor: default;
}


.user-settings-save-button-active:hover{
    box-shadow: 0 8px 20px -2px rgb(137, 137, 149);
    background-color: #49853c;
    cursor: pointer;
}

.user-settings-save-button-active{
    opacity: 100%;
}

.user-settings-textarea{
    width: 82%;
    height: 300px;
    margin: 0 7.5%;
    padding: 20px;
    border-radius: 20px;
    border: 0;
    background-color: #e1e1e1;
    outline: none;
    transition: background-color 0.2s ease;
    color: #484848;
    box-shadow: 0 4px 5px -2px rgb(137, 137, 149);
    resize: none;
}

.user-settings-textarea:focus::placeholder {
    color: transparent;
}

.user-settings-input-img{
    width: 250px;
    height: 250px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 10% 0 -10%;
    transition: 0.2s ease;
    border-radius: 100%;
    border: 5px dashed #919191;
    cursor: pointer;
    overflow: hidden;
}

.user-settings-input-img:hover{
    border-color: #E24F4F;
}

.user-settings-input-img:hover > img{
    filter: brightness(0) saturate(100%) invert(48%) sepia(18%) saturate(5886%) hue-rotate(329deg) brightness(91%) contrast(93%);
}

.user-settings-input-img.changed:hover{
    border-color: #E24F4F;
}

.user-settings-input-img.changed{
    padding: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #fafafa;
    box-shadow: 0 8px 20px -6px rgb(137, 137, 149);
}

.user-settings-input-img.changed:hover > img{
    filter: none}

.preview{
    width: 150px;
    height: 150px;
}